@model ForumWeb.Models.BaiGui

@{
    ViewBag.Title = "VietBai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Mã Chủ Đề:</td>
            <td>
                @Html.DropDownList("MaChuDe", null, htmlAttributes: new { })
                @Html.ValidationMessageFor(model => model.MaChuDe, "", new { })
            </td>
        </tr>

        <tr style="height:40px">
            <td> Mã Cộng Đồng:</td>
            <td>
                @Html.DropDownList("MaCongDong", null, htmlAttributes: new { })
                @Html.ValidationMessageFor(model => model.MaCongDong, "", new { })
            </td>
        </tr>

        <tr style="height:40px">
            <td> Mã Lĩnh Vực:</td>
            <td>
                @Html.DropDownList("MaLinhVuc", null, htmlAttributes: new { })
                @Html.ValidationMessageFor(model => model.MaLinhVuc, "", new { })
            </td>
        </tr>
        <tr style="height:40px">
            <td> Tên Bài:</td>
            <td>
                @Html.EditorFor(model => model.TenBai, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.TenBai, "", new { })
            </td>
        </tr>

        <tr style="height:40px">
            <td> Nội Dung:</td>
            <td>
                @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { } })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { })
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                @Html.ActionLink("Về trang chủ", "Index")
                <input type="submit" value="Đăng Bài" class="btn btn-primary" />
            </td>
        </tr>
    }
</table>